@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --inter-font: "Inter", sans-serif;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  height: 100vh;
  max-width: 80%;
  background-color: #F3F5FC;
  margin-bottom: 72px;
  font-family: var(--inter-font);
}

main {
  display: flex;
  justify-content: space-between;
}

header {
  margin: 40px 0 0 40px;
  max-width: 20%;
}

.section1 {
  display: flex;
  height: auto; /* Ajusta la altura automáticamente según el contenido */
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 240px;
  width: calc(100% - 240px);
  flex-basis: 100%;
  padding-bottom: 40px; /* Añade un padding inferior si es necesario */
}

textarea {
  font-family: var(--inter-font);
  font-size: 1.5rem;
  background-color: #F3F5FC;
  color: #0A3871;
  margin-top: 68px;
  margin: 0 40px;
  width: calc(100% - 80px);
  resize: none;
}

textarea::placeholder {
  color: #0A3871;
}

span {
  border-radius: 100%;
  background-color: #65747D;
}

.requisitos {
  font-family: var(--inter-font);
  font-size: 0.75rem;
  display: flex;
  margin-left: 8%;
  margin-bottom: 20px; /* Ajusta este valor para reducir la separación */
  margin-top: 30%
}

.botones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0; /* Elimina el margen superior */
  padding: 0 40px; /* Añade un padding lateral para alinearlo con los requisitos */
}

.boton1, .boton2, .boton3 {
  font-family: var(--inter-font);
  font-size: 1rem;
  color: white;
  border-radius: 24px;
  padding: 24px;
  margin-bottom: 27px;
  width: 100vh;
  max-width: 328px;
  text-align: center;
  background-color: #0A3871;
}

.boton2 {
  background-color: #D8DFE8;
  color: #0A3871;
}
.boton3 {
  background-color: #F3F5FC;
  color: #0A3871;
  
}

.section2 {
  background-color: white;
  border-radius: 32px;
  margin-right: 40px;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  text-align: center;
}
figure {
  padding-top: 30%;
}

a {
  text-decoration: none;
}

@media (max-width: 1200px) {
  main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .section1 {
    margin-left: 0;
    width: 100%;
  }

  header {
    margin: 20px;
    max-width: 100%;
    text-align: center;
  }

  textarea {
    margin: 20px 0;
  }

  .section2 {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .botones {
    flex-direction: column;
  }

  .boton1, .boton2 {
    width: 100%;
    margin-bottom: 20px;
  }
}
.primer-mensaje {
  display: initial;
}

/* Asegúrate de que section2 tenga una altura definida */
#section2 {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 100vh; /* Ajusta según sea necesario */
}

.resultado {
  display: none; /* Ocultar el resultado hasta que se genere */
  font-size: 1.5rem;
  color: black;
  text-align: center;
}
.resultado-final {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center;

}